[program:dbus]
priority=10

autostart=true
startsecs=1
startretries=0
autorestart=true

user=%(ENV_USERNAME)s
command=dbus-daemon --system --nofork --nopidfile

; logging
stdout_logfile=/var/log/plasma.dbus.log
stdout_logfile_backups=0

stderr_logfile=/var/log/plasma.dbus.error
stderr_logfile_backups=0

; @see https://supervisord.org/configuration.html#program-x-section-values
; > Note that the subprocess will inherit the environment variables of the
; > shell used to start “supervisord” except for the ones overridden here
; environment=KEY="val",KEY2="val2"
