[program:steam]
priority=100

autostart=false
startsecs=15
startretries=3
autorestart=true

user=%(ENV_USERNAME)s
directory=%(ENV_HOME)s
command=steam -silent -tenfoot

; logging
stdout_logfile=/var/log/steam.plasma.log
stdout_logfile_backups=0

stderr_logfile=/var/log/steam.plasma.error
stderr_logfile_backups=0
