[program:sunshine]
priority=100

autostart=false
startsecs=1
startretries=0
autorestart=true

user=%(ENV_USERNAME)s
command=sunshine

; logging
stdout_logfile=/var/log/sunshine.plasma.log
stdout_logfile_backups=0

stderr_logfile=/var/log/sunshine.plasma.error
stderr_logfile_backups=0
