[program:wm]
priority=20

autostart=false
startsecs=3
startretries=2
autorestart=true

user=%(ENV_USERNAME)s
directory=%(ENV_HOME)s
command=kwin_x11

; logging
stdout_logfile=/var/log/wm.plasma.log
stdout_logfile_backups=0

stderr_logfile=/var/log/wm.plasma.error
stderr_logfile_backups=0
