[program:xorg]
priority=50

autostart=false
startsecs=2
startretries=0
autorestart=true

user=%(ENV_USERNAME)s
command=/plasma/runtime/boot/xorg.sh

; logging
stdout_logfile=/var/log/xorg.plasma.log
stdout_logfile_backups=0

stderr_logfile=/var/log/xorg.plasma.error
stderr_logfile_backups=0
